
div{
  background-color: rgb(230, 210, 211);
  border-radius: 20px;
  width: 300px;
  flex-direction: column;
  height: 420px;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
}
h1{
  text-align: center;
  color: rgb(117, 111, 111);
  margin-top: 100px;
  margin-left: 30px;
}
.App {
  width: 250px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin :10px;
}
form{
  text-align: center;  
}
button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(117, 111, 111);
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}



