    body{
    padding: 0px;
    margin: 0px;
    border: 0px;

    }.card{
    background-color: rgb(221, 221, 207);
    max-width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 1px;
    text-align: center;
    display: inline-block;
    margin: 15px;
    
}   
.card img{
    max-width: 300px;
    border-radius: 15px;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover
{
    background-color: white; 
    color: black;
}
.navbar{
    background-color:rgb(170, 170, 143);
    border-radius: 10px;
    color: rgb(8, 0, 0);
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.navbar h3{
    margin: 0;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;

}
